name: Lint
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
